In [1]:
import pandas as pd
import numpy as np
# import matplotlib.pyplot as plt

In [2]:
# Python SQL toolkit and Object Relational Mapper
# import sqlalchemy
# from sqlalchemy.ext.automap import automap_base
# from sqlalchemy.orm import Session
# from sqlalchemy import create_engine, func

In [3]:
from sqlalchemy import create_engine

In [4]:
import datetime as dt

In [5]:
# from Candidates import candidates_list

In [6]:
engine = create_engine("sqlite:///../db/twitter_db.sqlite")
conn = engine.connect()

In [7]:
tweets_df = pd.read_sql("SELECT * FROM tweet_data", conn)

In [8]:
tweets_df.head()

,id,created_at,created_at_time,created_at_date,created_at_datetime,tweet_id,tweet_id_str,full_text,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,in_reply_to_screen_name,user_id,user_id_str,user_name,user_screen_name,retweet_count,favorite_count
0,1,Wed Jul 31 22:21:23 +0000 2019,22:21:23.000000,2019-07-31,2019-07-31 22:21:23.000000,1156691352983412737,1156691352983412737,"Here's the deal, President Trump inherited the...",NaN,None,NaN,None,None,939091,939091,Joe Biden,JoeBiden,938,4134
1,2,Wed Jul 31 21:28:00 +0000 2019,21:28:00.000000,2019-07-31,2019-07-31 21:28:00.000000,1156677917469896704,1156677917469896704,I’ve got some exciting news: I am now on Snapc...,NaN,None,NaN,None,None,939091,939091,Joe Biden,JoeBiden,173,790
2,3,Wed Jul 31 19:25:00 +0000 2019,19:25:00.000000,2019-07-31,2019-07-31 19:25:00.000000,1156646963506368512,1156646963506368512,A car accident took the lives of my first wife...,NaN,None,NaN,None,None,939091,939091,Joe Biden,JoeBiden,712,4376
3,4,Wed Jul 31 01:22:00 +0000 2019,01:22:00.000000,2019-07-31,2019-07-31 01:22:00.000000,1156374417691369474,1156374417691369474,"On what would have been his 46th birthday, my ...",NaN,None,NaN,None,None,939091,939091,Joe Biden,JoeBiden,210,1155
4,5,Tue Jul 30 22:12:23 +0000 2019,22:12:23.000000,2019-07-30,2019-07-30 22:12:23.000000,1156326700759863296,1156326700759863296,President Trump &amp; Betsy DeVos continue to ...,NaN,None,NaN,None,None,939091,939091,Joe Biden,JoeBiden,281,1215

In [9]:
tweets_df["created_at_datetime"] = tweets_df["created_at_datetime"].apply(lambda x: dt.datetime.strptime(x,
                                                                "%Y-%m-%d %H:%M:%S.%f"))

In [10]:
tweets_df["day"] = tweets_df["created_at_datetime"].apply(lambda x: dt.datetime.strftime(x, "%A"))
tweets_df["hour"] = tweets_df["created_at_datetime"].apply(lambda x: dt.datetime.strftime(x, "%H"))
tweets_df["month"] = tweets_df["created_at_datetime"].apply(lambda x: dt.datetime.strftime(x, "%B"))

In [11]:
tweets_df.drop(columns = ["created_at", "created_at_time", "created_at_date","created_at_datetime",
                    "tweet_id", "tweet_id_str", "in_reply_to_status_id",
                    "in_reply_to_status_id_str", "in_reply_to_user_id",
                    "in_reply_to_user_id_str", "in_reply_to_screen_name",
                    "user_id_str", "user_id", "user_screen_name", "id"], inplace = True)

In [12]:
tweets_df = tweets_df[["user_name", "month", "day", "hour", "retweet_count", "favorite_count", "full_text"]]

In [13]:
tweets_df.head()

,user_name,month,day,hour,retweet_count,favorite_count,full_text
0,Joe Biden,July,Wednesday,22,938,4134,"Here's the deal, President Trump inherited the..."
1,Joe Biden,July,Wednesday,21,173,790,I’ve got some exciting news: I am now on Snapc...
2,Joe Biden,July,Wednesday,19,712,4376,A car accident took the lives of my first wife...
3,Joe Biden,July,Wednesday,01,210,1155,"On what would have been his 46th birthday, my ..."
4,Joe Biden,July,Tuesday,22,281,1215,President Trump &amp; Betsy DeVos continue to ...

In [60]:
len(tweets_df.groupby(tweets_df["user_name"]).count())

28

In [14]:
len(tweets_df)

40262

In [15]:
X_df = tweets_df[["full_text", "month", "day", "hour", "retweet_count", "favorite_count"]]
X_df = pd.get_dummies(X_df, columns = ["month", "day", "hour"])

In [16]:
X_df.head(2)

,full_text,retweet_count,favorite_count,month_April,month_August,month_December,month_February,month_January,month_July,month_June,...,hour_14,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23
0,"Here's the deal, President Trump inherited the...",938,4134,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
1,I’ve got some exciting news: I am now on Snapc...,173,790,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0

In [17]:
# X_sub_df_1 = X_df[["full_text", "retweet_count", "favorite_count"]]
# X_sub_df_2 = X_df.loc[:, "month_April":"hour_23"]

In [18]:
# X_sub_df_2.replace(to_replace = 0, value = np.nan, inplace = True)

In [19]:
# X_df = pd.concat([X_sub_df_1, X_sub_df_2], axis = 1)

In [20]:
# X_df.head(2)

In [21]:
import nltk
import re
import string
pd.set_option('display.max_colwidth', 100) # To extend column width

stopwords = nltk.corpus.stopwords.words('english')
wn = nltk.WordNetLemmatizer()

In [22]:
def clean_text(text):
    text = "".join([word.lower() for word in text if word not in string.punctuation])
    tokens = re.split('\W+', text)
    text = [wn.lemmatize(word) for word in tokens if word not in stopwords]
    return text

In [23]:
from sklearn.feature_extraction.text import CountVectorizer

# NGramVectorizer
ngram_vect = CountVectorizer(ngram_range=(2,2), analyzer=clean_text)
X_count = ngram_vect.fit_transform(X_df['full_text'])

In [ ]:
X_count

In [ ]:
help(X_count)

In [ ]:
type(X_count.toarray())

In [24]:
X_df.drop(columns = ["full_text"], inplace = True)

In [ ]:
# X_count_df = pd.DataFrame(X_count.toarray(), columns=ngram_vect.get_feature_names())
# X_count_df.replace(to_replace = 0, value = np.nan, inplace = True)

In [25]:
X_df = pd.concat([X_df, pd.DataFrame(X_count.toarray(), columns=ngram_vect.get_feature_names())], axis=1)

In [26]:
X_df = X_df.to_sparse(fill_value = 0)

In [ ]:
type(X_df)

In [40]:
X_df.head(2)

,retweet_count,favorite_count,month_April,month_August,month_December,month_February,month_January,month_July,month_June,month_March,...,هستند,چهلسالشکست,که,۴۰,⅓,⅔,祝你新年快乐,광주민주화운동,𝐥𝐞𝐠𝐚𝐥,𝑽𝒂𝒎𝒐𝒏𝒐𝒔
0,938,4134,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,173,790,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [55]:
len(X_df.columns)

58604

In [27]:
data_y = tweets_df.values
data_x = X_df.values
X = data_x[:, 0:]
y = data_y[:,0]

In [28]:
type(X)

numpy.ndarray

In [29]:
from scipy.sparse import csr_matrix

In [30]:
csr_matrix(X)

<40262x58604 sparse matrix of type '<class 'numpy.int64'>'
	with 823141 stored elements in Compressed Sparse Row format>

In [31]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(csr_matrix(X), y, random_state=42)

In [34]:
from sklearn.preprocessing import MaxAbsScaler

In [35]:
X_scaler = MaxAbsScaler().fit(X_train)

In [36]:
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [37]:
from sklearn.preprocessing import LabelEncoder

# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y_train)

encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

In [38]:
from keras.utils import to_categorical

# Step 2: One-hot encoding
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

Using TensorFlow backend.

In [39]:
X_train

<30196x58604 sparse matrix of type '<class 'numpy.int64'>'
	with 617157 stored elements in Compressed Sparse Row format>

In [61]:
# first, create a normal neural network with 2 inputs, 6 hidden nodes, and 2 outputs
from keras.models import Sequential
from keras.layers import Dense

deep_model = Sequential()
deep_model.add(Dense(units=1000, activation='relu', input_dim=58604))
deep_model.add(Dense(units=1000, activation='relu'))
deep_model.add(Dense(units=28, activation='softmax'))

In [62]:
deep_model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_7 (Dense)              (None, 1000)              58605000
_________________________________________________________________
dense_8 (Dense)              (None, 1000)              1001000
_________________________________________________________________
dense_9 (Dense)              (None, 28)                28028
=================================================================
Total params: 59,634,028
Trainable params: 59,634,028
Non-trainable params: 0
_________________________________________________________________

In [63]:
# Compile the model
deep_model.compile(optimizer='adam',
                   loss='categorical_crossentropy',
                   metrics=['accuracy'])

In [ ]:
# Fit the model to the training data
deep_model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=100,
    shuffle=True,
    verbose=2
)

WARNING:tensorflow:From C:\Users\lande\Anaconda3\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/100

In [42]:
df = pd.DataFrame(np.random.randn(10000, 4))

In [53]:
df.head()

          0         1         2         3
0  1.276867 -1.067148  1.956972  0.266448
1  1.477884  0.222252 -1.350203 -3.410060
2 -0.096345 -0.546482 -0.627817 -0.817991
3  0.334041  1.644420 -0.690802 -0.074156
4 -1.142075  1.458111 -0.626752 -1.127151

In [54]:
len(df.columns)

4

In [ ]:
# for i, r in df.iterrows():
#     print(i)
    print(type(r))
#     print(r[2:])
#     print(type(r[2:]))
#     for x in range(0, len(r)):
#         print(x)

In [ ]:
x_csv_path = "../datasets/features.csv"
y_csv_path = "../datasets/tweets.csv"

In [ ]:
features_csv = X_df.to_csv(x_csv_path, index = None, header = True, encoding = 'utf-8-sig')

In [ ]:
tweets_csv = tweets_df.to_csv(y_csv_path, index = None, header = True, encoding = 'utf-8-sig')

In [ ]:
import nltk
nltk.download('stopwords')

In [ ]:
nltk.download('wordnet')

In [ ]:
import re
import string
pd.set_option('display.max_colwidth', 100) # To extend column width

stopwords = nltk.corpus.stopwords.words('english')
wn = nltk.WordNetLemmatizer()

In [ ]:
# from sklearn.feature_extraction.text import CountVectorizer

# count_vect = CountVectorizer(analyzer=clean_text)
# X_counts = count_vect.fit_transform(tweets_df['full_text'])
# print(X_counts.shape)
# print(count_vect.get_feature_names())

In [ ]:
# X_counts

In [ ]:
# X_counts_df = pd.DataFrame(X_counts.toarray(), columns=count_vect.get_feature_names())
# X_counts_df.head(10)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

ngram_vect = CountVectorizer(ngram_range=(2,2),analyzer=clean_text) # It applies only bigram vectorizer
X_counts = ngram_vect.fit_transform(tweets_df['full_text'])
print(X_counts.shape)
print(ngram_vect.get_feature_names())

In [ ]:
X_counts_df = pd.DataFrame(X_counts.toarray(), columns=ngram_vect.get_feature_names())
X_counts_df.head(10)

In [ ]:
# from sklearn.feature_extraction.text import TfidfVectorizer

# tfidf_vect = TfidfVectorizer(analyzer=clean_text)
# X_tfidf = tfidf_vect.fit_transform(tweets_df['full_text'])
# print(X_tfidf.shape)
# print(tfidf_vect.get_feature_names())

In [ ]:
# X_tfidf_df = pd.DataFrame(X_tfidf.toarray(), columns=tfidf_vect.get_feature_names())
# X_tfidf_df.head(10)

In [ ]:
# print(X_tfidf_df.loc[(X_tfidf_df!=0).any(axis=1)])

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
tweets_df.head()