In [1]:
# Dependencies
# ----------------------------------
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float

In [2]:
# Sets an object to utilize the default declarative base in SQL Alchemy
Base = declarative_base()

In [3]:
# Creates Classes which will serve as the anchor points for our Table
class Tweet_Data(Base):
    __tablename__ = 'tweet_data'
    id = Column(Integer, primary_key=True)
    created_at = Column(String(355))
    tweet_id = Column(Integer)
    tweet_id_str = Column(String(255))
    full_text = Column(String(355))
    in_reply_to_status_id = Column(Integer)
    in_reply_to_status_id_str = Column(String(255))
    in_reply_to_user_id = Column(Integer)
    in_reply_to_user_id_str = Column(String(255))
    in_reply_to_screen_name = Column(String(255))
    user_id = Column(Integer)
    user_id_str = Column(String(255))
    user_name = Column(String(255))
    user_screen_name = Column(String(255))
    retweet_count = Column(Integer)
    favorite_count = Column(Integer)

In [4]:
# Create Database Connection
engine = create_engine("sqlite:///../db/twitter_db.sqlite")
conn = engine.connect()

In [5]:
# Create a "Metadata" Layer That Abstracts our SQL Database
# ----------------------------------
# Create (if not already in existence) the tables associated with our classes.
Base.metadata.create_all(engine)

In [ ]:
# Use this to clear out the db
# ----------------------------------
# Base.metadata.drop_all(engine)

In [ ]:
# engine.execute("ALTER TABLE tweet_data DROP COLUMN hashtags;")

In [6]:
from sqlalchemy import inspect

In [7]:
# Create the inspector and connect it to the engine
inspector = inspect(engine)

In [8]:
# Collect the names of tables within the database
inspector.get_table_names()

['tweet_data']

In [9]:
# Using the inspector to print the column names within the 'tweet_data' table and its types
columns = inspector.get_columns('tweet_data')
for column in columns:
    print(column["name"], column["type"])

id INTEGER
created_at VARCHAR(355)
tweet_id INTEGER
tweet_id_str VARCHAR(255)
full_text VARCHAR(355)
in_reply_to_status_id INTEGER
in_reply_to_status_id_str VARCHAR(255)
in_reply_to_user_id INTEGER
in_reply_to_user_id_str VARCHAR(255)
in_reply_to_screen_name VARCHAR(255)
user_id INTEGER
user_id_str VARCHAR(255)
user_name VARCHAR(255)
user_screen_name VARCHAR(255)
retweet_count INTEGER
favorite_count INTEGER